{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio</title>
	<link rel="stylesheet" href="{% static '/flexboxgrid.min.css'%}">
	<link rel="stylesheet" href="{% static '/estilo.css'%}">
</head>
<body>
	<header>
		<div class="container">
			<div class="logo-menu">
				<div class="row left-xs">
					<nav class="menu">
						<img src="{% static '/img/puente.png'%}" alt="Logo" width="130" height="100" align=left>
						<a href="{% url 'index' %}">INICIO</a>
						<a href="{% url 'quienes' %}">QUIENES SOMOS</a>
						<a href="{% url 'contacto' %}">CONTACTO</a>
						<a href="{% url 'galeria' %}">GALERIA</a>
						<a href="#">MODELOS A MEDIDA</a>
						<a href="#">MODELOS POR METRAJE</a>
					</nav>
				</div>
			</div>
		</div>
			</header><br>

  <div class="container">
		<h1>Contacto</h1>
		<br>
		<font face= "Verdana" font color= "Black"> <h2>¡Encuentranos y contactate con nosotros!  </h2></font>
		<br>
		<div align= "right">
			<iframe style="background-color: #158589;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.4026870206494!2d-70.54929698480161!3d-33.412744380784794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662ce947c2117d7%3A0x57a5c1f54e17bb15!2sLos%20Dominicos%207851%2C%20Las%20Condes%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1604636916597!5m2!1ses!2scl" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				<div style="float: left; ">
							<aside style="background-color: #158589;">
								<div class="row col-xs-12 col-sm-6 col-md-3 col-lg-12">
									<br>
									<p>
									<form action="Formulario" method="POST">
									<p>
										<div align= "left"> <h2> <font face= "verdana" font color= "White ">&emsp; &emsp;Formulario </font> </h2> </div>
										<br>
	
										<div align= "left"> <font face= "verdana" font size= "medium" font color="White"> &emsp; &emsp; &emsp;NOMBRE COMPLETO <br>
											&emsp; &emsp;&emsp; &emsp; &emsp;<input required type="text" name="texto1" placeholder="Ej: Osvaldo Guiterrez">
										<br>
										</div>
	
										</div>
										<div align= "left"> <font face= "verdana" font color="White">&emsp; &emsp; &emsp;RUT </font><br>
											&emsp; &emsp;&emsp; &emsp; &emsp;<input required type="text" name="texto1" placeholder="Ej: 20.168.099-6">
										<br>
										</div>
	
										<div align= "left"> <font face= "verdana" font color="White"> &emsp; &emsp; &emsp;CORREO </font><br>
											&emsp; &emsp;&emsp; &emsp; &emsp;<input required type="email" name="texto1" placeholder="Ej: js.rodriguez@gmail.com">
										<br>
										</div>
										<p required>Sexo:
											<input type="radio" name="hm" value="h" required> Hombre
											<input type="radio" name="hm" value="m"> Mujer
										  </p>
										<div align= "left"> &emsp; &emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp; &emsp;&emsp; &emsp;<input type="submit" class="btn btn-green" value="Enviar Datos"></div>
									</p>
									</form>
									</p>
							</aside>
				</div>
				</div>
				<br>

								<section>
									<font color= "Black" font face= "Verdana"> <h1> Estamos ubicados en Los Dominicos 7851, Las Condes, Región Metropolitana</h1> </font>
									<br>
									<br>

									<center><font color= "Black" font face= "Verdana"> <h2> Horarios de Atención al cliente de:</h2> </font></center>
									<br>
									<center><font color= "Black" font face= "verdana"> <h2> Lunes a Sábado entre 09:30 hrs - 18:00 hrs </h2></font></center>

									<br><br>
									<div style= "float: center; color: black;" >
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
												<img src="{% static '/img/telefono2.png'%}" alt="telefono" height="35" width="35" align=left>&emsp;<b> (2)2525 1382 </b>
											</div>
											<img src="{% static '/img/gmail.png'%}" alt="gmail" height="30" width="60" align=left>&emsp;<b>contacto@debajodelpuente.cl</b>
									</div>
									<br> <br>
									</div>
								</section>
  </div>
</body>
<br>
<div class="container"><br>
    <footer>
        <nav>
        <a href="https://www.facebook.com/"> <img src = "{% static '/img/Facebook.png'%} " alt="Facebook" width="30" height="30" align="right"></a>
        <a href="https://www.instagram.com/"> <img src= "{% static '/img/Instagram.png'%} " alt="Instagram" width="30" height="30" align="right"></a>
        <a href="https://www.google.com/gmail"> <img src="{% static '/img/googleplus.png'%} " alt="Google Plus" width="30" height="30" align="right"></a>
        </nav>
        <img src="{% static '/img/telefono.png'%} " alt="telefono" width="30" height="30" align="left">&emsp;<b> Contáctanos al: +569 85742163</b>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 
        <b> Encuentranos en:</b>
    </footer>
</div>
</html>
