{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Galeria</title>
	<link rel="stylesheet" href="{% static '/flexboxgrid.min.css'%}">
	<link rel="stylesheet" href="{% static '/estilo.css'%}">
</head>
<body>
	<header>
		<div class="container">
			<div class="logo-menu">
				<div class="row left-xs">
					<nav class="menu">
						<img src="{% static '/img/puente.png'%}" alt="Logo" width="130" height="100" align=left>
						<a href="{% url 'index' %}">INICIO</a>
						<a href="{% url 'quienes' %}">QUIENES SOMOS</a>
						<a href="{% url 'contacto' %}">CONTACTO</a>
						<a href="{% url 'galeria' %}">GALERIA</a>
						<a href="#">MODELOS A MEDIDA</a>
						<a href="#">MODELOS POR METRAJE</a>
					</nav>
				</div>
			</div>
		</div>
	</header><br>
	<div class="container">
		<h4 style="text-align:justify;">Nuestras Casas Prefabricadas de Madera se adaptan a todas las necesidades del cliente.
					Ya sean modernas, clásicas, a medida, tradicionales de la locación o con precios económicos tenemos una solución para usted o su negocio.
					Asimismo trabajamos otras construcciones como kioscos, cenadores, garajes, etc.</h4>
			</div>
		</div>
	</div><br>
	<center><hr color=#2F4F4F size=3 width="300"> </center><br>
	<div class="container-card">
		<div class="card">
			<figure>
				<img src="{% static '/img/casa1.png'%}">
			</figure>
			<div class="contenido-card">
				<h3>Casas Estilo Sureño</h3>
				<p>
				<li>Ventanas: 8.</li>	
				<li>Piscina: No.</li>
				<li>Baños: 2.</li>
				<li>Living Comedor.</li>
				<li>Habitaciones: 2.</li>
				<li>Cocina: Mediana.</li>
				<li>Material: Madera</li>
				<li>Precio: $6.000.000.</li>
				<li>Metros m²:70m²</li>
				</p>
				<a href="#">Leer Más</a>
			</div>
		</div>
		<div class="card">
			<figure>
				<img src="{% static '/img/casa2.png'%}">
			</figure>
			<div class="contenido-card">
				<h3>Casas estilo Clásico</h3>
				<p>
					<li>Ventanas: 4.</li>
					<li>Piscina: No.</li>
					<li>Baños: 1.</li>
					<li>Living Comedor.</li>
					<li>Habitaciones: 5</li>
					<li>Cocina: Pequeña.</li>
					<li>Material: Madera.</li>
					<li>Precio: $5.000.000.</li>
					<li>Metros m²: 50m²</li>
				</p>
				<a href="#">Leer Más</a>
			</div>
		</div>
		<div class="card">
			<figure>
				<img src="{% static '/img/infiniti.jpg'%}">
			</figure>
			<div class="contenido-card">
				<h3> Modelo Infinity</h3>
				<p>
					<li>Ventanas: 4.</li>
					<li>Piscina: No.</li>
					<li>Baños: 2.</li>
					<li>Living Comedor: Si.</li>
					<li>Habitaciones: 4</li>
					<li>Cocina: Grande.</li>
					<li>Material: Madera.</li>
					<li>Precio: $ 10.000.000.</li>
					<li>Metros m²: 164m²</li>
				</p>
				<a href="#">Leer Más</a>
			
			</div>
		</div>


	<div class="card">
		<figure>
			<img src="{% static '/img/futura.jpg'%} "> 
		</figure>
		<div class="contenido-card">
			<h3>Modelo Futura</h3>
			<p>
				<li>Ventanas: 10.</li>
				<li>Piscina: No.</li>
				<li>Baños: 2.</li>
				<li>Living Comedor: Si.</li>
				<li>Habitaciones: 3</li>
				<li>Cocina: Mediana.</li>
				<li>Material: Madera.</li>
				<li>Precio: $ 9.000.000.</li>
				<li>Metros m²: 105m²</li>
			</p>
			<a href="#">Leer Más</a>
		</div>
	</div>

	</div>
	<center><hr color=#2F4F4F size=3 width="300"> </center><br>
</body><br>
<div class="container">
	<footer style="background-color: #158589">
		<nav>
		<a href="https://www.facebook.com/"><img src="{% static '/img/facebook.png'%}" alt="Facebook" width="30" height="30" align="right"></a>
		<a href="https://www.instagram.com/"><img src="{% static '/img/instagram.png'%}" alt="Instagram" width="30" height="30" align="right"></a>
		<a href="https://www.google.com/gmail/"><img src="{% static '/img/googleplus.png'%}" alt="Google Plus" width="30" height="30" align="right"></a>
	    </nav>
		<img src="{% static '/img/telefono.png'%}" alt="telefono" width="30" height="30" align="left">&emsp;<b> Contáctanos al: +569 85742163</b>
		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 
		<b> Encuentranos en:</b>
	</footer>
</div>
</html>
