{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio</title>
	<link rel="stylesheet" href="{% static '/flexboxgrid.min.css'%}">
	<link rel="stylesheet" href="{% static '/estilo.css'%}">
</head>
<body>
	<header>
		<div class="container">
			<div class="logo-menu">
				<div class="row left-xs">
					<nav class="menu">
						<img src="{% static '/img/puente.png'%}" alt="Logo" width="130" height="100" align=left>
						<a href="{% url 'index' %}">INICIO</a>
						<a href="{% url 'quienes' %}">QUIENES SOMOS</a>
						<a href="{% url 'contacto' %}">CONTACTO</a>
						<a href="{% url 'galeria' %}">GALERIA</a>
						<a href="#">MODELOS A MEDIDA</a>
						<a href="#">MODELOS POR METRAJE</a>
					</nav>
				</div>
			</div>
		</div>
			</header><br>
			<div class="container">
			<div class="slider">
				<ul>
					<li>
						  <img src= "{% static '/img/presentacion3.jpg'%} " height="450" width="800">
					 </li>
				 
					<li>
						  <img src= "{% static '/img/presentacion2.jpg'%} " height="450" width="400">
					</li>
	
					<li>
							<a href="{% url 'galeria' %}">
								<img src= "{% static '/img/infiniti.jpg'%} " height="450" width="400">
						  
					</li>
			</ul>
	
			<br>
			</div>
			<div class="container">
		<div style ="background-color:#2685B8; line-height:1.4">  
				<br>
				<h1> <center><font color= "White" font face= "Times new roman"> ¿Tienes un proyecto en el que podamos ayudarte?</font> </center></h1>
				<br>
				</div>
				<br>
				<h2> <center> <font color= "Black" font face= "Times new roman"> Somos la empresa que diseña y construye viviendas de diseño <br> a precio cerrado con el cliente en todo Chile </font></center></h2>
				<br><br>
				<center><hr color=#2F4F4F size=3 width="300"> </center><br>
				</div>
			</div>	
				<div class="container-card">
	
						<div class="card">
							<figure>
								<img src= "{% static '/img/cuadro1.jpg'%} ">
							</figure>
							<div class="contenido-card">
								<h3>Llave en Mano</h3>
								<p> Tu casa prefabricada llave en mano esta AQUI, deja todo en manos de expertos que llevan años cumpliendo las mas altas expectativas de nuestros clientes.</p>
								
							</div>
						</div>
						<div class="card">
							<figure>
								<img src= "{% static '/img/cuadro2.jpg'%} ">
							</figure>
							<div class="contenido-card">
								<h3> Diseño a Pedido</h3>
								<p>Diseña tu casa prefabricada con nosotros, con nuestros profesionales te ayudamos a desarrollar y dar forma a tus sueños, aqui estas a un paso de hacer realidad tus sueños.</p>
								
							</div>
						</div>
						<div class="card">
							<figure>
								<img src= "{% static '/img/cuadro3.jpg'%} ">
							</figure>
							<div class="contenido-card">
								<h3>Servicio de Traslado</h3>
								<p>La llevamos donde tu quieras, desde Arica a Punta Arenas, no importa si necesitas llevarla al campo, a la montaña o al extremo sur, nosotros somos tu solución</p>
								
							</div>
						</div>
					</div>
					<br><br>
					<center><h3>Nuestras Casas Prefabricadas.</h3></center>
					<br>
					<center><hr color=#2F4F4F size=3 width="300"> </center><br><br>
					<div class="container-card">

						<div class="card">
							<figure>
									<a href="galeria.html">
								<img src= "{% static '/img/infiniti.jpg'%} ">
							</figure>
							<div class="contenido-card">
								<h3> Modelo Infinity 164 m² </h3>
								<h4> $ 10.000.000</h4>
								<p> Casa contemporánea,
										4 dormitorios y 2 baños.</p>
							
							</div>
						</div>
						

					<div class="card">
						<figure>
								<a href="galeria.html">
							<img src= "{% static '/img/Futura.jpg'%} "> 
						</figure>
						<div class="contenido-card">
							<h3>Modelo Futura 105 m²</h3>
							<h4> $ 9.000.000</h4>
							<p> Casa contemporánea,
									3 dormitorios y 2 baños.</p>
									
						</div>
					</div>
				</div>

		</div><br>   
</body>


<br>
<div class="container"><br>
    <footer>
        <nav>
        <a href="https://www.facebook.com/"> <img src = "{% static '/img/Facebook.png'%} " alt="Facebook" width="30" height="30" align="right"></a>
        <a href="https://www.instagram.com/"> <img src= "{% static '/img/Instagram.png'%} " alt="Instagram" width="30" height="30" align="right"></a>
        <a href="https://www.google.com/gmail"> <img src="{% static '/img/googleplus.png'%} " alt="Google Plus" width="30" height="30" align="right"></a>
        </nav>
        <img src="{% static '/img/telefono.png'%} " alt="telefono" width="30" height="30" align="left">&emsp;<b> Contáctanos al: +569 85742163</b>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 
        <b> Encuentranos en:</b>
    </footer>
</div>
</html>


