{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio</title>
	<link rel="stylesheet" href="{% static '/flexboxgrid.min.css'%}">
	<link rel="stylesheet" href="{% static '/estilo.css'%}">
</head>
<body>
	<header>
		<div class="container">
			<div class="logo-menu">
				<div class="row left-xs">
					<nav class="menu">
						<img src="{% static '/img/puente.png'%}" alt="Logo" width="130" height="100" align=left>
						<a href="{% url 'index' %}">INICIO</a>
						<a href="{% url 'quienes' %}">QUIENES SOMOS</a>
						<a href="{% url 'contacto' %}">CONTACTO</a>
						<a href="{% url 'galeria' %}">GALERIA</a>
						<a href="#">MODELOS A MEDIDA</a>
						<a href="#">MODELOS POR METRAJE</a>
					</nav>
				</div>
			</div>
		</div>
			</header><br>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" align="center">
			    <h2>Cotizacion casas a medida</h2>
					<img src="{% static '/img/amedida.png'%}" alt="a medida">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" align="center">
				<h3>
					Numero de Baños: {{wc}}<br>
					Numero de habitaciones: {{piezas}}
				</h3>
				<p>
					El precio es de $1.000.000 por baño<br>
					y $1.500.000 por habitacion
				</p>
				<br>
					<h2 style="color: #000000;">
						El Valor de una casa con<br>
					 {{wc}} baños y <br>
					 {{piezas}} habitaciones es de<br>
					 ${{costo}}
				</h2>
				<img src="{% static '/img/plano.jpg'%}" alt="plano" height="240px" width="auto">
			</div>
		</div>
	</div>
</body>
<br>
<div class="container"><br>
    <footer>
        <nav>
        <a href="https://www.facebook.com/"> <img src = "{% static '/img/Facebook.png'%} " alt="Facebook" width="30" height="30" align="right"></a>
        <a href="https://www.instagram.com/"> <img src= "{% static '/img/Instagram.png'%} " alt="Instagram" width="30" height="30" align="right"></a>
        <a href="https://www.google.com/gmail"> <img src="{% static '/img/googleplus.png'%} " alt="Google Plus" width="30" height="30" align="right"></a>
        </nav>
        <img src="{% static '/img/telefono.png'%} " alt="telefono" width="30" height="30" align="left">&emsp;<b> Contáctanos al: +569 85742163</b>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 
        <b> Encuentranos en:</b>
    </footer>
</div>
</html>
