{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio</title>
	<link rel="stylesheet" href="{% static '/flexboxgrid.min.css'%}">
	<link rel="stylesheet" href="{% static '/estilo.css'%}">
</head>
<body>
	<header>
		<div class="container">
			<div class="logo-menu">
				<div class="row left-xs">
					<nav class="menu">
						<img src="{% static '/img/puente.png'%}" alt="Logo" width="130" height="100" align=left>
						<a href="{% url 'index' %}">INICIO</a>
						<a href="{% url 'quienes' %}">QUIENES SOMOS</a>
						<a href="{% url 'contacto' %}">CONTACTO</a>
						<a href="{% url 'galeria' %}">GALERIA</a>
						<a href="#">MODELOS A MEDIDA</a>
						<a href="#">MODELOS POR METRAJE</a>
					</nav>
				</div>
			</div>
		</div>
			</header><br>

  <div class="container">
		<div class="cabeza">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-5 col-lg-6">
					<h3 style="color: #FFFFFF; margin-left: 9px;">Quienes Somos</h3>
					<br>
					<p align="justify">
						Debajo Del Puente es un equipo de trabajo que ofrece soluciones habitacionales
						de gran calidad, las cuales se adaptan a las necesidades específicas
						de nuestros clientes.
						<br>
						Nuestros clientes avalan nuestro trabajo y la calidad de nuestras
						viviendas de material ligero, para nosotros sus sueños son nuestros
						sueños y así ponemos nuestra mejor dedicación para llevarlos a cabo.
						<br>
						Nuestro equipo está conformado por Anaís, Oscar y Javier, estudiantes
						de Ingeniería Informática en DuocUC. Juntos hemos llevado a cabo
						distintos proyectos, solucionando los problemas que se nos han presentado.
						<br>
					</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
					<img src="{% static '/img/quienes.jpg'%}" alt="quienes somos" align="center">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h2>Nuestro equipo de trabajo:</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<img src="{% static '/img/anais.jpg'%}" alt="anais" align="center">
				<h2 align="center">Anaís Molina</h2>
				<p align="justify">
					Anaís actualmente se encuentra estudiando la carrera Ingeniería en
					informática, perteneciente al Instituto Profesional Duoc Uc.
					Enfocandose principalmente en el area de creación y diseño, utilizando
					lenguaje HTML5 para su programación del proyecto "Debajo del Puente".<br>
					\눈_눈/
				</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<img src="{% static '/img/oscar.jpg'%}" alt="oscar" align="center">
				<h2 align="center">Oscar Poblete</h2>
				<p align="justify">
					Estudiante del Instituto Profesional Duoc UC en la Carrera de Ingenieria en Informática,
					encargado de programar paginas web con HTML5, Python y Django, además
					encargado de la mantencion y seguridad del sitio Web de la empresa de casas
					prefabricadas "Debajo del Puente".
					<br>
					༼ つ ◕_◕ ༽つ
				</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<img src="{% static '/img/javaers2.jpg'%}" alt="javaers" align="center">
				<h2 align="center">Javier Largo</h2>
				<p align="justify">
					Hola a todos me llamo Javier, pero me dicen Javaer o Java.
					Soy Chileno, pero tembién poseo la nacionalidad española, porque mi
					abuelo, el padre de mi padre, es español.
					Hablo Español e Inglés, así que no tengo problema comunicandome en esos
					idiomas.
					<br>
					Soy estudiante de Ingeniería Informática en DuocUC y tengo un trabajo
					de medio tiempo en un supermercado Express de Líder como reponedor.
					<br>
					No se que más agregar así que lo dejo hasta aquí por ahora.
					<br>
					(ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
				</p>
			</div>
		</div>
  </div>
</body>
<br>
<div class="container"><br>
    <footer>
        <nav>
        <a href="https://www.facebook.com/"> <img src = "{% static '/img/Facebook.png'%} " alt="Facebook" width="30" height="30" align="right"></a>
        <a href="https://www.instagram.com/"> <img src= "{% static '/img/Instagram.png'%} " alt="Instagram" width="30" height="30" align="right"></a>
        <a href="https://www.google.com/gmail"> <img src="{% static '/img/googleplus.png'%} " alt="Google Plus" width="30" height="30" align="right"></a>
        </nav>
        <img src="{% static '/img/telefono.png'%} " alt="telefono" width="30" height="30" align="left">&emsp;<b> Contáctanos al: +569 85742163</b>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 
        <b> Encuentranos en:</b>
    </footer>
</div>
</html>
